.left-menu {
    /* grid-area: left; */
    background-color: var(--clr-white);
    padding: 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.left-menu .sidebar-item {
    text-decoration: none;
    color: #4a5568;  
    margin: 5px 0;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.left-menu .sidebar-item.active {
    background-color: #4a5568;  
    color: white;
}

.left-menu .sidebar-item:hover {
    background-color: var(--clr-gray-200);
}

.left-menu .sidebar-item .icon {
    margin-right: 10px;
    font-size: 18px;
}

.left-menu .sidebar-item .text {
    font-size: 16px;
}

.notification-badge {
    background-color: #ff4500;
    color: white;
    border-radius: 50%;
    padding: 0 6px;
    font-size: 12px;
    margin-left: auto; /* Push the badge to the far right */
}

.no-visible-laptop {
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .left-menu {
         
        height: 60px;
        background-color: white;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        border-top: 1px solid #ddd;
    }

    .left-menu .sidebar-item {
        flex-direction: column;
        margin: 0;
        padding: 5px;
        text-align: center;
        font-size: 12px;
    }

    .notification-only {
        position: relative;
    }

    .left-menu .notification-badge {
        position: absolute;
        top: 5px;
        right: 220px;
    }

    .no-visible-tab {
        display: none;
    }

    .no-visible-laptop {
        display: block;
    }
 
}
