/* Style for Navbar */
.auth__container {
    height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-white);
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .language-select select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .feed-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
  