.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input-container {
    position: relative;
    flex: 1;
    margin-right: 20px;
}

.search-input {
    width: 70%;
    padding: 10px 10px 10px 40px;  
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
